body {
    background-color: #FFF7E9;
    font-family: 'Roboto', sans-serif;
}

.hide-section {
    display: none;
}

/* navbar */
.navbar {
    background-color: #544179;
    padding-left: 100px;
    padding-right: 100px;
}

li a, .navbar a {
    color: #ffd484 !important;
    font-size: 24px
}

/* section Posts */
.content {
    margin: 100px;
    /* padding: 30px; */
    /* margin: 20px; */
}

.postFrame {
    margin: 20px;
    border-bottom: 2px solid #544179 !important;
}

.postTitle, .comLabel {
    color: #544179;
    font-weight: bold;
    font-size: 2rem;
}

.postBody {
    text-align: justify;
    display: block;
}

.postGif {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1140px){
    .postGif {
        width: 150px;
    }
}

.fa-comment {
    color: #544179;
}

.postFooter {
    display: inline-block;
    margin-top: 10px;
}

.postFooter p {
    display: inline-block;
    /* margin-top: 10px; */
}

.numCom {
    margin-right: 0;
    margin-left: auto;
}

/* post hover */
.post:hover .postTitle {
    background-color: #544179;
    color: #ffd484
}
.post:hover {
    background-color: #544179;
    color: white;
    border-bottom: 2px solid white !important;
}
.post:hover .fa-comment {
    color: white;
}

/* section 2 Post and its comments */
#showPostAndComments {
    margin: 100px 30% 0 30% ;
}

.comLabel {
    margin-top: 40px;
    margin-bottom: 20px;
}

.btnAddCom {
    display: block;
    background-color: #544179;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: auto;
}

.comFrame {
    border: 2px solid #544179;
    padding: 15px 20px 0; 
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* section 3 Add New Post */
#addPost {
    margin: 100px 30% 0 30% ;
}

#inputPostTitle {
    font-size: x-large;
    border: 2px solid #544179;
    /* font-style: italic; */
    /* font-weight: 600; */
}

#inputPostBody {
    border: 2px solid #544179;
}

#giphysearch {
    border: 1px solid #544179;
}

#btnGiphySearch {
    display:inline;
    background-color: #544179;
    /* margin-top: 20px;
    margin-bottom: 40px; */
    margin-right: 0;
    margin-left: auto;
}
